<!DOCTYPE html>
<html ng-app="earTrainingApp">
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="final.css">
</head>
<body class="body-class" ng-controller="earTrainingController">
	<div class="container-fluid">
		<div class="jumbotron container-fluid">
			<div class="row">
				<h1>Ear Training</h1>
				<h4>Select a Key and a Scale, and select or play the correct notes to win!</h4>
			</div>
		</div>
		<h3 style="color: white">Notes Quiz</h3>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<p class="navbar-text">Key:<select ng-model="selectKeys" name="Key" class="navbar-btn">
					<option value="{{key.key}}" ng-repeat="key in keysArray | limitTo: 12">{{key.label}}</option>
				</select></p>
				<p class="navbar-text">Scale:<select ng-model="selectScale" name="Scale" class="navbar-btn">
					<option value="{{$index}}" ng-repeat="scale in scalesArray">{{scale.scaleName}}</option>
				</select></p>
				<p class="navbar-text">Timbre:<select ng-model="selectTimbre" name="Timbre" class="navbar-btn" ng-change="changeTimbre()">
					<option value="{{wave}}" ng-repeat="wave in timbreArray">{{wave}}</option>
				</select></p>
				<p class="navbar-text"># of Notes<select ng-model="numNotes" name="numNotes" class="navbar-btn">
					<option value="2" label="2"></option>
					<option value="3" label="3"></option>
					<option value="4" label="4"></option>
					<option value="5" label="5"></option>
					<option value="6" label="6"></option>
					<option value="7" label="7"></option>
				</select></p>
				<p class="navbar-text">Quiz Note Speed<select ng-model="noteSpeed" name="noteSpeed" class="navbar-btn">
					<option value=0.25 label=".25s"></option>
					<option value=0.5 label=".5s"></option>
					<option value=0.75 label=".75s"></option>
					<option value=1.0 label="1s"></option>
				</select></p>
				<p class="navbar-text">Start on Key<input type="checkbox" ng-model="startOn1" ng-true-value="true" ng-false-value="false"></p>
				<button class="btn-lg btn-danger navbar-btn" type="button" ng-click="setKeyScale()">Set Key/Scale</button>
				<button class="btn-lg btn-danger navbar-btn pull-right" type="button" ng-click="startNotesTest()">Start Quiz</button>
			</div>
		</nav>
		<div class="row">
			<div class="col-xs-4 col-sm-2"  ng-repeat="note in notesNoNumber track by $index">
				<button class="btn btn-block btn-default" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="playNote($index, scaleDegrees.id)">{{note}}
				</button>
			</div>
		</div>
		<h3 style="color: white">Scale Quiz</h3>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<p class="navbar-text">Key:<select ng-model="selectKeys" name="Key" class="navbar-btn">
					<option value="{{key.key}}" ng-repeat="key in keysArray | limitTo: 12">{{key.label}}</option>
				</select></p>
				<p class="navbar-text">Timbre:<select ng-model="selectTimbre" name="Timbre" class="navbar-btn">
					<option value="{{wave}}" ng-repeat="wave in timbreArray">{{wave}}</option>
				</select></p>	
				<p class="navbar-text">Quiz Note Speed<select ng-model="noteSpeed" name="noteSpeed" class="navbar-btn">
					<option value=0.25 label=".25s"></option>
					<option value=0.5 label=".5s"></option>
					<option value=0.75 label=".75s"></option>
					<option value=1.0 label="1s"></option>
				</select></p>	
	    		<button class="btn-lg btn-danger navbar-btn pull-left" type="button" ng-click="playScale()">Play Scale</button>
	    		<p class="navbar-text">Scale:<select name="Scale" class="navbar-btn" ng-model="answerScaleQuiz" ng-change="changeScaleDropdown()">
	    			<option value="{{$index}}" ng-repeat="scale in scalesArray">{{scale.scaleName}}</option>
	    		</select></p>
			</div>
		</nav>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" ng-hide="false">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<h4 class="text-center"><br>{{winOrLose}}<br><br></h4>
				</div>
			</div>
		</div>





	</div>
	<script src = "app.js"></script>
	<script src = "wad.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>